* {
  box-sizing: border-box;
}

ul .rowOfItems:hover {
  background-color: rgba(255 255 255 / .2);
  transition: background-color .3s;
}

.App {
  background-color: cornflowerblue;
  min-height: 100vh;
  min-width: 400px;
  overflow: auto;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.tabularNumbers {
  font-variant-numeric: tabular-nums;
}

.topDisplay {
  background-color: whitesmoke;
  box-shadow: 0 .5rem 1rem rgba(0 0 0 / .15);
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  border-radius: 0 0 .25rem .25rem;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}

.tradesDisplay,
form {
  background-color: rgba(255 255 255 / .5);
  border-radius: .25rem;
  margin: 0 auto;
  max-width: 600px;
  min-width: 400px;
  padding: .5rem 1rem;
  width: 100%;
}

.usdCurrencySymbol::before {
  content: '$';
}

/* Targets list items and realized amount elements */
ul *[class*=list-group-item-],
ul li {
  border-radius: 2px;
  margin: 0 -.5rem;
  padding: 0 .5rem;
}

/* Apply when the screen is 575px or smaller */
@media only screen and (max-width: 575px) {

  /* When */
  .rowOfItems .column:first-child {
    width: 35%;
  }

  /* Avg Price */
  .rowOfItems .column:nth-child(2) {
    width: 20%;
  }

  /* Shares */
  .rowOfItems .column:nth-child(3) {
    width: 20%;
  }

  /* Position */
  .rowOfItems .column:last-child {
    width: 25%;
  }

  /* On smaller screens, the realized amounts will be moved up slightly */
  ul *[class*=list-group-item-] {
    position: relative;
    bottom: .75rem;
  }
}

/* Apply when the screen is 576px or larger */
@media only screen and (min-width: 576px) {

  /* When columns */
  .rowOfItems .column:first-child {
    width: 40%;
  }

  /* Avg Price, Shares, and Position columns */
  .rowOfItems .column:not(first-child) {
    width: 20%;
  }
}